@import './src/styles/base/base';

$field-error-color: $color-wild-watermelon;
$field-border-color: $color-ghost;
$field-focused-border-color: $color-fiord;
$field-disabled-color: $color-iron;
$field-disabled-background-color: transparent;
$label-color: $color-gray-chateau;
$placeholder-text-color: $color-ghost;
$label-font-weight: 700;
$field-font-size: 1.4rem;
$label-font-size: $field-font-size;
$container-font-family: $font-roboto;

.container {
    display: flex;
    flex-direction: column;
    font-family: $container-font-family;
}

.field {
    border: 1px solid $field-border-color;
    border-radius: 5px;
    font-size: $field-font-size;
    height: 4.8rem;
    padding: 1.3rem 1.6rem;

    &::placeholder {
        color: $placeholder-text-color;
        text-transform: capitalize;
    }

    &:focus {
        border-color: $field-focused-border-color;
        outline: none;
    }

    &:disabled {
        background-color: $field-disabled-background-color;
        border-color: $field-disabled-color;
    }

    &:disabled::placeholder {
        color: $field-disabled-color;
    }

    &HasError {
        border-color: $field-error-color;
    }
}

.errorMessage {
    color: $field-error-color;
    font-weight: $font-weight-medium;
    line-height: 1.5;
    padding-top: 0.8rem;
    text-transform: uppercase;
}

.label {
    color: $label-color;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    line-height: 1.6;
    padding-bottom: 0.8rem;
    text-transform: uppercase;

    &IsDisabled {
        color: $field-disabled-color;
    }
}
