@import './src/styles/base/base';

$card-title-font-weight: $font-weight-bold;
$card-title-color: $color-fiord;
$card-subtitle-font-weight: $font-weight-medium;
$card-subtitle-color: $pale-sky;
$card-subtitle-font-size: 1.2rem;

.card {
    min-width: 32rem;
    padding: 2rem 0;
    position: relative;

    &Img {
        height: 100%;
        position: absolute;
        right: 3.2rem;
        top: 0;
    }

    &TextBox {
        background-color: $color-white;
        border-radius: $border-xl;
        box-shadow: $box-shadow-large;
        padding: 2.2rem 1.6rem;

        &Title {
            color: $card-title-color;
            font-weight: $card-title-font-weight;
            line-height: 1.33;
        }

        &Subtitle {
            color: $card-subtitle-color;
            font-size: $card-subtitle-font-size;
            font-weight: $card-subtitle-font-weight;
            line-height: 1.5;
            margin: 0.4rem 0;
            text-transform: uppercase;
        }
    }
}
