@import './src/styles/base/base';

.newPlacesTop {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
    width: 100%;

    &Title {
        display: inline-block;
    }
}

.newPlacesSlidesContainer {
    margin: 0 -1.2rem;
}

.restaurantCard {
    margin: 0 1.2rem;
}
