@import './src/styles/base/base';

.heroContainer {
    margin-bottom: $margin-bottom-xxxl;
    margin-top: 0.8rem;
}

.cardContainer {
    display: flex;
}

.imageContainer {
    max-height: 31.6rem;
    max-width: 101.8rem;
    position: relative;
    width: 100%;

    &::after {
        background: linear-gradient(
            270deg,
            #fff -0.71%,
            rgba(255, 255, 255, 0) 99.41%
        );
        border-bottom-left-radius: $border-xl;
        border-top-left-radius: $border-xl;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &Image {
        border-bottom-left-radius: $border-xl;
        border-top-left-radius: $border-xl;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.cardInfo {
    max-width: 32.6rem;
    padding: 2.4rem;
    width: 100%;

    &Navigation {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    &Intro {
        color: $color-wild-watermelon;
        font-size: $font-size-small;
        margin-top: 1.2rem;
        text-transform: uppercase;
    }

    &Title {
        font-size: $font-size-l;
        font-weight: $font-size-m;
        margin-bottom: 1.2rem;
        max-height: 5.2rem;
        overflow: hidden;
        word-break: break-word;
    }

    &Description {
        color: $color-slate-gray;
        font-weight: $font-weight-regular;
        height: 10rem;
        margin-bottom: 1.8rem;
        overflow: hidden;
        word-break: break-word;
    }

    &Link {
        background-color: $color-wild-watermelon;
        border-radius: 6.5rem;
        color: $color-white;
        display: inline-block;
        font-size: $font-size-m;
        padding: 0.8rem 2.4rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: $color-wild-watermelon-secondary;
        }
    }
}

.ellipsis::before {
    content: '\2026\0020';
}
