$color-black: #000;
$color-rangoon-green: #050504;
$color-midnight: #001836;
$color-electric-violet: #6e44ff;
$color-electric-violet-secondary: #5836cc;
$color-electric-violet-active: #462ca3;
$color-muave: #b892ff;
$color-mirage: #1f2d3d;
$default-font-color: $color-mirage;
$color-mine-shaft: #333;
$color-pickled-bluewood: #31465e;
$color-fiord: #3e5067;
$pale-sky: #627485;
$color-slate-gray: #6a7889;
$color-gray-chateau: #9ea7b3;
$color-geyser: #d3dce6;
$color-tiara: #c5d1d4;
$color-ghost: #cacfd5;
$color-iron: #dcdfe3;
$color-porcelain-dark: #edeff1;
$color-porcelain: #f6f7f8;
$color-catskill-white: #e5e9f2;
$color-white: #fff;
$color-magic-mint: #7bf1a8;
$color-wild-watermelon: #ff6e75;
$color-wild-watermelon-secondary: #ff3454;
$color-malibu: #72ddf7;
$color-energy-yellow: #fadb5e;
