$font-roboto: 'Roboto', sans-serif;
$font-size-base: 62.5%;
$font-size-small: 1rem;
$font-size-s: 1.2rem;
$font-size-m: 1.4rem;
$font-size-l: 3.2rem;
$font-size-xl: 4.2rem;
$font-size-xxl: 4.6rem;
$font-size-xxxl: 7.2rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 700;
$font-weight-bold: 900;
